PLUS_DATA_ROOT=/data
PLUS_RAMDISK_PATH=/mnt/ramdisk
PLUS_HTTP_PORT=8080
PLUS_LOG_LEVEL=warn
AUTH_USER=admin:imgproxy3.14
AUTH_IP_WHITELIST=192.168.1.0/24,172.16.0.0/12,127.0.0.1
PLUS_LOCAL_PATH=/data/plus
ZIP_EXTS=zip,cbz
ZIPFS_TRANSPARENT=true
API_PAGE_SIZE_MAX=200
FILEAPI_DISABLE=false
IMGPROXY_BIND=:8081
IMGPROXY_LOCAL_FILESYSTEM_ROOT=/
IMGPROXY_KEY=
IMGPROXY_SALT=
IMGPROXY_SECRET=
IMGPROXY_QUALITY=80
IMGPROXY_AUTO_WEBP=true
IMGPROXY_LOG_LEVEL=warn
IMGPROXY_MALLOC=jemalloc
